<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.tyheng.wxorderapi.mapper.OrderMapper">

    <resultMap id="orderMap" type="site.tyheng.wxorderapi.entity.Order">
        <id property="id" column="order_id"/>
        <result property="openId" column="open_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="orderStatus" column="order_status"/>
        <result property="orderTotalAmount" column="order_amount_total"/>
<!--        <result property="couponUserId" column="coupon_user_id"/>-->
        <result property="discountAmount" column="discount_amount"/>
        <result property="payTotalAmount" column="pay_amount_total"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="orderItems" ofType="site.tyheng.wxorderapi.entity.OrderItem">
            <id property="id" column="order_detail_id"/>
            <result property="orderId" column="order_id"/>
            <result property="orderNo" column="order_no"/>
            <result property="goodId" column="good_id"/>
            <result property="goodNum" column="good_num"/>
            <result property="goodPrice" column="good_price"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
        </collection>
    </resultMap>

    <select id="getOrders" resultMap="orderMap">
        select
            master.order_id as order_id,
            master.open_id as open_id,
            master.order_no as order_no,
            master.order_status as order_status,
            master.order_amount_total as order_amount_total,
#             master.coupon_user_id as coupon_user_id,
            master.discount_amount as discount_amount,
            master.pay_amount_total as pay_amount_total,
            master.create_time as create_time,
            master.update_time as update_time,
            slave.order_detail_id as order_detail_id,
            slave.good_id as good_id,
            slave.good_num as good_num,
            slave.good_price as good_price
        from
            order_master as master, order_detail as slave
        where
            master.order_id = slave.order_id and master.order_no = slave.order_no
    </select>

</mapper>